.idea
*.pyc
checkpoint_dir
HumanML3D
SnapMoGen
glove
avatar_model
.idea
*.pyc
__pycache__/
*.pyo
*.pyd
.env
data/questionnaire
*.bvh
*.fbx
*.zip
*.mp4
video_result/
bvh_folder/
fbx_folder/
fbh_zip_folder/